﻿@Model MultiService.MultiService.Entities.Category

{
    ViewBag.Title = "Create";
}
<form method="post">
    <h2>Create</h2>

    <label>Category Name</label>
    <input type="text" name="Name" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" />
    <br />
    <button type="submit">Save</button>
</form>